@model MyApp.Models.ViewModels.ProductVM

<form method="post" asp-action="CreateUpdate" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id" />
    <input type="hidden" asp-for="Product.ImageUrl" />
    <div class="border p-3 mt-4">
        <div class="row pb-3">

            <h2 class="text-primary">@((Model.Product == null || Model.Product.Id == 0) ? "Create" : "Update") Product</h2>
            <hr />

        </div>
        <div asp-validation-summary=All></div>   @*Server Validation summary for all text fields*@
        <div class="row mb-3">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>     @*Server Validation For specific Text field or Value*@
        </div>

        <div class="row mb-3">
            <label asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" class="form-control"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>     @*Server Validation For specific Text field or Value*@
        </div>

        <div class="row mb-3">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>     @*Server Validation For specific Text field or Value*@
        </div>

        <div class="row mb-3">
            <label asp-for="Product.ImageUrl"></label>
            <input type="file" id="ImageFile" name="file" class="form-select" />
        </div>

        <div class="row mb-3">
            <label asp-for="Product.CategoryId"></label>
            <select asp-for="Product.CategoryId" asp-items="Model.Categories" class="form-control">
                <option selected disabled>--Select Category--</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>     @*Server Validation For specific Text field or Value*@
        </div>




        @*Here condition to check which button appear*@
        @if ((Model.Product == null || Model.Product.Id == 0))
        {
            <button class="btn btn-primary" onclick="return ValidateEmpty()" type="submit">Create</button>
        }
        else
        {
            <button class="btn btn-primary" type="submit">Update</button>
        }

    </div>
    <a asp-action="Index" asp-controller="category" class="btn btn-success mt-5">Back To List</a>

</form>


@*Clinet Side Validation to Display error message without page refresh*@
@section scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }

    <script>
        function ValidateEmpty() {
            if (document.getElementById("ImageFile").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please Upload Image!'
                });
                return false;
            }
            return true;
        }


    </script>

}