@*<div class="row">
    <div class="col-md-8 mb-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Biling details</h5>
            </div>
            <div class="card-body">
            </div>
            <div class="col">
            </div>
            <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form7Example1" class="form-control" />
                            <label class="form-label" for="form7Example1">First name</label>
                        </div>
                        <div class="form-outline">
                            <input type="text" id="form7Example2" class="form-control" />
                            <label class="form-label" for="form7Example2">Last name</label>
                        </div>
                    </div>*@
